[general]
maxpackets  = 50000
writelocal  = false
localdir    = "/tmp"
snaplength  = 500

[cloudshark]
host        = "www.cloudshark.org"
scheme      = "https"
port        = 443
token       = "fffffffffffffffffff"
upload      = true

[redis]
listen		= true
host        = "node.running.redis.net"
port        = 6379
channel     = "capture"
auth		= "password"

[syslog]
priority    = 85
tag         = "pcapdaemon"

[[interface]]
name        = "eth0"
alias       = ["main", "public"]

[[interface]]
name        = "lo"
alias       = ["local"]

[s3]
accessid	= "xxxxxxxxxxxxxxxxxxxxxxxxx"
accesskey	= "xxxxxxxxxxxxxxxxxxxxxxx"
endpoint	= "s3.amazonaws.com"
bucket		= "pcapdaemon"
folder		= "pcaps"
upload		= true
region		= "us-east-1"
acl			= "private"
encryption	= false

[sqs]
listen      = true
region      = "us-east-1"
accessid    = "xxxxxxxxxxxxxxxxxxxxxxxxx"
accesskey   = "xxxxxxxxxxxxxxxxxxxxxxx"
url         = "https://example.amazone.com/asdfasdf/myqueue"
waitseconds = 20
chunksize   = 10
